.container1{
    margin: 50px auto 80px 10%;
}

.section1H2Head1{
    font-size: 200%;
    line-height: .5;
}

.section1H1Head1{
    font-size: 400%;
    line-height: .1;
    color:#f74129;
}


.container2{
    display: flex;
}

.leftSide{
    flex:.5;
    transition-delay: .5s;
}

.section1Image{
    width: 100%;
}

.rightSide{
    flex:.5;
}

.rightSideContainer{
    margin-left: 15%;
    margin-right: 15%;
}

.section1H2Head2{
    font-size: 250%;
    line-height: .5;
    transition-delay: .8s;
}

.section1H2Head3{
    font-size: 250%;
    line-height: .5;
    color:#f74129;
    transition-delay: 1.2s;
}

.section1Para2{
    transition-delay: .6s;
}

.section1Para3{
    transition-delay: 1.4s;
}